html{
    font-family: 'Source Serif Pro', serif;
}

header li {
    display:inline-block; 
    padding: 40px; 
    font-size: 18pt; 
    margin-top: -15px;
    color: rgb(255, 217, 0); 
}

header section{
    display: inline-block;
    width: 100%;
    height: 80px; 
    background-color: rgb(30, 37, 104); 
    margin-top: 0; 
}

header h1{
    width: 100%;
    height: 110px; 
    text-align: center;
    font-size: 50pt; 
    color: rgb(30, 37, 104);
    margin-bottom: 0; 
    margin-top: 0;  
}


.homepage-image {
    max-width: 100%; 
    margin: auto; 
}

a {
    text-decoration: none; 
    color: rgb(255, 217, 0); 
}

section li:hover{
    font-size: 130%; 
}
