img {
    width: 80%;  

}

header {
    font-size: 12pt; 
}

body {
    max-width: 960px; 
    margin: auto; 
    font-size: 12pt; 
}

@media (min-width: 640px){
    .main {
        display: flex; 
        margin: 1px; 
    }
}


li {
    list-style-type: none;
    line-height: 25px; 
}

div {
    width: 80%; 
}

